@use '../../style/default.scss';

.mainContainer {
  flex: 1 1 100%;
  display: flex;
  color: default.$white;

  @media only screen and (min-width:48.05em) and (max-width:59.375em) {
   
  }

  @include default.respond-to(bp-small) {

  }

  @include default.respond-to(bp-very-small) {

  }


}