@use '../../../style/default.scss';

.inputContainer {
  position: relative;

  // .customInputLoader {
  //   position: absolute;
  //   right: .3em;
  //   top: 1em;
  //   width: 26px;
  //   height: 26px;

  //   @include default.respond-to(bp-very-small) {
  //     top: .65em;
  //     right: .65em;
  //   }
  // }

  @include default.respond-to(bp-very-small) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .customLabel {

    position: absolute;
    top: 0px;
    right: 0;
    font-family: default.$font-family;


    @include default.respond-to(bp-very-small) {
      white-space: normal;
      top: 7.5em;
      width: 100%;
      padding-left: 0;
      text-align: center;
    }
  }

  .customInput {
    width: 100%;
    max-width: 100%;
    background-color: Transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid default.$blue;
    box-sizing: border-box;
    padding: 2px 16px 16px 16px;
    line-height: 19px;
    font-size: 15px;
    color: default.$white;
    font-weight: 500;
    height: 37px;
    //position: relative;
    font-family: default.$font-family;


    &::placeholder {
      color: default.$input-placeholder-color;
      opacity: 0.5;
      //position: relative;
      // bottom: 8px;
    }


    &:focus,
    &:active {
      color: default.$white;
      opacity: 1;
      border-bottom: 1px solid default.$white;

      &::placeholder {
        color: default.$white;
        ;
        opacity: 1;
      }
    }

    @include default.respond-to(bp-small) {
      max-width: 425px;
      width: auto;
    }

    @media only screen and (max-width:36.85em) {
      width: 220px;
    }

    @include default.respond-to(bp-very-small) {
      width: 100%;
      background-color: default.$blue-middle;
      border-radius: 2em;
      height: 46px;
      max-width: 100%;
    }
  }
}

.isValid {
  color: default.$isValid-color;
}

.isInvalid {
  color: default.$red;
  border-color: default.$red;
}