@use '../../../style/default.scss';

.inputContainer {
  position: relative;

  // .customInputLoader {
  //   position: absolute;
  //   right: .3em;
  //   top: 1em;
  //   width: 26px;
  //   height: 26px;

  //   @include default.respond-to(bp-very-small) {
  //     top: .65em;
  //     right: .65em;
  //   }
  // }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-internal-autofill-selected,
  input:-internal-autofill-previewed {
    background-color: transparent !important;
    color: default.$white;
  }

  @include default.respond-to(bp-very-small) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .customLabel {
    position: absolute;
    top: calc(50% - 16px/2 - 8.5px);
    right: 16px;
    font-family: default.$font-family;
    font-size: 13px;
    line-height: 16px;

    @include default.respond-to(bp-very-small) {
      white-space: normal;
      top: 7.5em;
      width: 100%;
      padding-left: 0;
      text-align: center;
    }
  }

  .customInput {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    padding: 2px 16px 16px 16px;
    line-height: 19px;
    font-size: 15px;
    color: default.$white;
    font-weight: inherit;
    height: 37px;
    font-family: default.$font-family;
    border-bottom-width: 1px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-internal-autofill-selected {
      background-color: transparent !important;
    }

    &::placeholder {
      color: default.$input-placeholder-color;
      opacity: 0.5;
    }


    &:focus,
    &:active {
      color: default.$white;
      opacity: 1;
      border-bottom: 1px solid default.$white;

      &::placeholder {
        color: default.$white;
        ;
        opacity: 1;
      }
    }

    @include default.respond-to(bp-small) {
      max-width: 425px;
      width: auto;
    }

    @media only screen and (max-width:36.85em) {
      width: 220px;
    }

    @include default.respond-to(bp-very-small) {
      width: 100%;
      background-color: default.$blue-middle;
      border-radius: 2em;
      height: 46px;
      max-width: 100%;
    }
  }
}

.isValid {
  color: default.$isValid-color;
  border-bottom: 1px solid default.$blue;
}

.isInvalid {
  color: default.$red;
  border-color: default.$red;
  caret-color: default.$red;
}