@use '../../../style/default.scss';
@use '../../../style//animations.scss';

.loader {
  width:250px;
  height:auto;
  margin:auto;

  @include default.respond-to(bp-very-small) {
    
  }
}