@use '../../../style/default.scss';

.customButton {
  color: default.$button-text-color;
  border-radius: 2em;
  outline: 0;
  line-height: 19px;
  // padding: 14px 2em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: default.$font-family;
  font-weight: 500;
  height:48px;
  font-size:15px;
  background-color: default.$red;
  transition: background-color 1s;


  &:hover {
    background-color: default.$button-primary-h-color;
    color: default.$button-text-h-color;
    transition: background-color 1s;
  }

  &:disabled {
    background-color: default.$button-primary-disabled-color;
  }
}