@use '../../style/default.scss';

.loginForm {
  // flex: 1 1 100%;
  display: flex;
  width: 400px;
  padding:32px;
  margin:auto;
  background-color: default.$blue-middle;
  border-radius: 20px;
  flex-direction: column;
  box-sizing: border-box;

  form {

    input[type="email"] {
      margin-bottom: 24px;
    }

    button {
      margin-top: 40px;
      width:100%;
    }
  }

  .signupLinkContainer {
    margin-top: 24px;
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    a {
      color: default.$red;
      text-decoration: none;
      margin-left:8px;
      
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include default.respond-to(bp-small) {

  }

  @include default.respond-to(bp-very-small) {

  }


}