@use '../../style/default.scss';
@use '../../style/animations.scss';

.loginPage {
  display: flex;
  width: 400px;
  padding: 32px;
  margin: auto;
  background-color: default.$blue-middle;
  border-radius: 20px;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 373px;


  .loginForm,
  .signupForm {

    .infoBox {
      background-color: default.$blue-light;
      color: default.$blue-dark;
      border-radius: 5px;
      margin-bottom:15px;
      text-align: justify;
      padding:5px 10px;
      font-weight: 500;
    }

    form {
      font-weight: 300;

      button {
        margin-top: 40px;
        width: 100%;
      }

      .customInput {
        margin-top: 24px;
      }

      .resetPasswordLink {
        color: default.$red;
        justify-content: end;
        margin-top:10px;
        cursor: pointer;
      }
    }

    .changeFormBox {
      margin-top: 24px;
      text-align: center;
      font-size: 15px;
      line-height: 19px;
      font-weight: 300;

      .changeFormLink {
        color: default.$red;
        text-decoration: none;
        margin-left: 8px;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .success {
    background-color: default.$green;
  }

  .error {
    background-color: default.$red;
  }

  @include default.respond-to(bp-small) {}

  @include default.respond-to(bp-very-small) {
    width: 94%;
  }
}