// colors
$white: #FFF;
$blue-light: #C2CBE5;
$blue: #5A698F;
$blue-middle: #161D2F;
$blue-dark: #10141E;
$green: #54E6AF;
$red: #FC4747;

// fonts
$font-family:'Outfit', sans-serif;

// buttons 
$button-primary-color: $red;
$button-primary-h-color: $white;
$button-primary-disabled-color: #b1b1b1;
$button-text-color: $white;
$button-text-h-color: $blue-middle;

// validation
$isValid-color: #7fff00;
$isInvalid-color: #FB3E3E;

// general input
$input-placeholder-color: #b4b2b2;

// media query breakpoints 
@mixin respond-to($breakpoint) {
  @if $breakpoint == bp-very-small {
    @media only screen and (max-width: 28em) { @content }; 
  }

  @if $breakpoint == bp-small {
    @media only screen and (max-width: 48.05em) { @content }; 
  }

  @if $breakpoint == bp-medium {
    @media only screen and (max-width: 62.5em) { @content }; 
  }

  @if $breakpoint == bp-large {
    @media only screen and (max-width: 80.5em) { @content }; 
  }
}