@use '../../../style/default.scss';

.customHeader {
  font-size: 32px;
  color: default.$white;
  letter-spacing: -.5px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 0;
  line-height: 40px;
  text-align: left;

  @include default.respond-to(bp-small) {}

  @include default.respond-to(bp-very-small) {}

}